:root {
    font-size:  10px;
    --main-color: #D3AD7F;
    --black: #131313;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", serif;
}

.box-video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.box-video video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

section {
    max-width: 1200px;
    padding: 3rem 2rem;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--bg);
    border-bottom: var(--border);
    width: 100vw;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 1.5rem 0;
    position: relative;
}

.header section a img {
    height: 6rem;
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header section nav a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #FFF;
    transition: 0.4s linear;
}

.header section nav a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.container-1 {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container-1 div {
    max-width: 60rem;
}

.container-1 h1 {
    color: #FFF;
    font-size: 6rem;
    text-transform: uppercase;
}

.container-1 p {
    font-size: 2rem;
    color: #FFF;
    font-weight: lighter;
    padding: 1rem 0;
    line-height: 1.8;
    margin-bottom: 15px;
}

.button-link {
   background-color: var(--main-color);
   cursor: pointer;
   display: inline-block;
   font-size: 1.7rem; 
   color: #FFF;
   padding: 1rem 3rem;
   border-radius: 30px;
   transition: 0.1s linear;
} 

.container-1 div a:hover {
    letter-spacing: 0.1rem;
}

.container-2 h2 {
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.container-2 h2 span {
    color: var(--main-color);
}

.container-2 .container-3 {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
    flex-wrap: wrap;
}

.container-2 .container-3 .foto-cafe {
    flex: 1 1 45rem;
}

.container-2 .container-3 .foto-cafe img {
    width: 100%;
}

.container-2 .container-3 .container-4 {
    flex: 1 1 45rem;
    padding: 2rem;
}

.container-2 .container-3 .container-4 h3 {
    font-size: 3rem;
    color: #FFF;
}

.container-2 .container-3 .container-4 p {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #FFF;
    line-height: 1.8;
    padding: 1rem 0;
}

.container-4 a:hover {
    letter-spacing: 0.1rem;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 20px;
    z-index: 4;
    position: fixed;
    top: 50%;
    left: -30%;
    transform: translate(-50%, -50%);
    transition: left 1s linear;
}

.modal h3 {
    color: #FFF;
    font-size: 3rem;
}

.modal h3 span {
    color: var(--main-color);
}

.mascara-modal {
    visibility: hidden;
    transition: visiblity 1s linear; 
    z-index: 3;  
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

@media screen and (max-width: 498px) {
        :root {
            font-size:  10px;
            --main-color: #D3AD7F;
            --black: #131313;
            --bg: #010103;
            --border: 0.1rem solid rgba(255, 255, 255, 0.3);
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            font-family: "Poppins", serif;
        }

        .box-video {
            height: 100%;
            width: 100%;
            z-index: -1;
            position: fixed;
        }

        .box-video video {
            min-height: 100%;
            min-width: 100%;
            position: fixed;
            top: 0;
        }

        .mascara {
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
        }

        .header section {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            padding: 1.5rem 0;
            position: relative;
        }

        .header section a img {
            margin-left: auto;
        }

        .container-1 h1 {
            color: #FFF;
            font-size: 3rem;
            text-transform: uppercase;
            text-align: center;
        }

        .container-1 p {
            font-size: 1.5rem;
            color: #FFF;
            font-weight: lighter;
            padding: 1rem 0;
            line-height: 1.8;
            margin-bottom: 15px;
            text-align: justify;
        }

        .button-link {
            background-color: var(--main-color);
            display: inline-block;
            font-size: 1.5rem;
            color: #FFF;
            padding: 1rem 2rem;
            border-radius: 30px;
        }

        section {
            padding: 3rem 2rem;
            display: block;
            max-width: 100%;
        }

        .container-2 h2 {
            text-align: justify;
            color: #FFF;
            text-transform: uppercase;
            padding-bottom: 3.5rem;
            font-size: 2rem;
        }

        .container-2 .container-3 .foto-cafe img {
            width: 100%;
        }

        .container-2 .container-3 .container-4 h3 {
            font-size: 2rem;
            color: #FFF;
        }

        .container-2 .container-3 .container-4 p {
            font-size: 1.5rem;
            font-weight: lighter;
            color: #FFF;
            line-height: 1.8;
            padding: 1rem 0;
        }

        .button-link {
            background-color: var(--main-color);
            display: inline-block;
            font-size: 1.5rem;
            color: #FFF;
            padding: 1rem 2rem;
            border-radius: 30px;
        }

        .container-2 .container-3 .container-4 {
            flex: 1 1 45rem;
            padding: 2rem;
        }

        .modal {
            display: block;
            flex-direction: column;
            background-color: transparent;
            gap: 50px;
            z-index: 4;
            position: fixed;
            top: 50%;
            transform: translate(-100%, -50%);
            transition: left 1s linear;
            text-align: center;
        }

        .mascara-modal {
            visibility: hidden;
            transition: visiblity 1s linear; 
            z-index: 3;  
            position: fixed;
            inset: 0;
            width: 100vw;
            height: 100vh;
            background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
        }

        .modal h3 {
            color: #FFF;
            font-size: 1rem;
        }
        
        .modal h3 span {
            color: var(--main-color);
        }

}